.wrapper {
  display: flex;
  align-items: center;

  writing-mode: sideways-lr;
  position: absolute;

  top: 500px;
  left: 40px;

  .socials {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    padding-top: 40px;
  }

  .black {
    margin-bottom: 20px;
    width: 1px;
    background-color: black;
    height: 150px;
  }
}
